<mat-sidenav-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="create-tile">
        <section>
          <div>
            <button mat-raised-button color="primary" routerLink="createExamPaper">Create Exam papers</button> 
            </div>
          </section>
      </mat-grid-tile>
      <mat-grid-tile class="checkout-tile">
        <section>
          <div>
            <button mat-raised-button color="primary" routerLink="showExamPaper">Show Exam papers</button> 
            </div>
          </section>
      </mat-grid-tile>
    </mat-grid-list> 
  </mat-sidenav-content>